#gf_001 {

	.barchart_row {
		width:100%; float:left; margin-bottom:1em; padding-bottom:.6em; border-bottom:1px dotted #CCC;
		color:#666;
	}

	.nameCol, .barCol {
		display:inline; float:left;
	}

	.barWidth {
		height:24px; position:relative; margin-top:-0.4em; border-radius:1px;
	}

	.barValue {
		position:absolute; top:3px;
		text-shadow:0 0 2px #CCC, 0 0 1px #FFF;
		color:#000;
	}

	.selectedBar_001 {
		.nameCol {
			font-weight:bold;
		}
		.barValue {
			color:#FFF;
			text-shadow:none;
		}
	}

/*@media only screen and (min-width: 600px) and (max-width: 900px) {}*/

	@media only screen and (max-width: 590px) {
		.barchart_row {border-bottom:none;}
		.nameCol {width:100%!important; margin-bottom:.5em;}
		.barCol {width:100%!important;}
	}
	
}
