<style>
.stretch:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.stretch {
  display: inline-block; }

.stretch {
  display: block; }

* html .stretch {
  height: 1px; }

#gf_001 {
  float: left;
  width: 100%;
  margin: 1em auto;
  position: relative;
  font-size: 13px;
  font-family: "Pragmatica-web", Helvetica, Arial, sans-serif; }
  #gf_001 img {
    width: 100%; }
  #gf_001 .grfxhead {
    width: 100%;
    margin-bottom: .3em;
    font-size: 24px;
    float: left;
    font-family: "Chronicle Deck 6r", Georgia, serif;
    font-weight: bold; }
  #gf_001 .grfxintro {
    width: 100%;
    margin-bottom: .7em;
    font-size: 15px;
    letter-spacing: 0.003em;
    line-height: 1.428;
    float: left;
    max-width: 650px; }
  #gf_001 .grfxcontainer {
    width: 100%;
    float: left;
    position: relative;
    margin: 0.5em 0; }
  #gf_001 .source {
    color: #999;
    text-transform: uppercase;
    font-size: 11px;
    width: 100%;
    float: left;
    margin-top: 0.75em;
    margin-bottom: 2.5em; }

#gf_001 {
  /*@media only screen and (min-width: 600px) and (max-width: 900px) {}*/ }
  #gf_001 .barchart_row {
    width: 100%;
    float: left;
    margin-bottom: 1em;
    padding-bottom: .6em;
    border-bottom: 1px dotted #CCC;
    color: #666; }
  #gf_001 .nameCol, #gf_001 .barCol {
    display: inline;
    float: left; }
  #gf_001 .barWidth {
    height: 24px;
    position: relative;
    margin-top: -0.4em;
    border-radius: 1px; }
  #gf_001 .barValue {
    position: absolute;
    top: 3px;
    text-shadow: 0 0 2px #CCC, 0 0 1px #FFF;
    color: #000; }
  #gf_001 .selectedBar_001 .nameCol {
    font-weight: bold; }
  #gf_001 .selectedBar_001 .barValue {
    color: #FFF;
    text-shadow: none; }
  @media only screen and (max-width: 590px) {
    #gf_001 .barchart_row {
      border-bottom: none; }
    #gf_001 .nameCol {
      width: 100% !important;
      margin-bottom: .5em; }
    #gf_001 .barCol {
      width: 100% !important; } }

</style>
<!-- NO COMMENT IF CINEMATIC -->
<!-- <div class="cinematic-element fullsize-element ">
<div class="aspect-ratio-wrapper sixteennine"> -->

<!-- NO COMMENT IF MEDIUM -->
<!-- <div class="fullsize-element"> -->
	<!-- <div class="media_medium--container container"> -->

		<div id="gf_001">

			<div class="grfxhead">Graphic headline</div>
			<div class="grfxintro">Little intro for the graphic. Both headline and intro can be commented or deleted if they're not needed.</div>

			<div class="grfxcontainer stretch">
				<div id="barchart_001"></div>
			</div>	

			<div class="source">NG STAFF</br>SOURCE: NATIONAL GEOGRAPHIC</div>

		</div>

<!-- NO COMMENT IF MEDIUM OR CINEMATIC-->
<!-- </div></div> -->

<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>



<script>
var data_001=[{Concept:"University of Alabama System Office",Element:46220},{Concept:"Ualam",Element:4e4},{Concept:"Amridge University",Element:33860},{Concept:"Alabama State University",Element:31030},{Concept:"Auburn University at Montgomery",Element:30276},{Concept:"Birmingham",Element:28978},{Concept:"Alabama A & M University",Element:26620},{Concept:"University of Alabama in Huntsville",Element:12234},{Concept:"Athens State",Element:11380},{Concept:"University of Alabama at Birmingham",Element:10820},{Concept:"Auburn University",Element:7030},{Concept:"Central Alabama Community College",Element:100}],pref_001="$",suf_001="m",barColor_001="#9FBBC1",barColor_Highlight_001="#23535E",highlighted=2,nameNodes_001=[],allValues_001=[],allWidths_001=[],maxValue_001,maxWidth_001,valuePos,jQInteractives=jQuery.noConflict();!function(a){a(function(){function e(a){return a.toString().replace(/\B(?=(\d{3})+(?!\d))/g,",")}function t(){var e=a("#gf_001").width(),t=100*maxWidth_001/e;40>t?a(".nameCol").css("width",t+"%").css("margin-right","2%"):a(".nameCol").css("width","30%").css("margin-right","2%"),a(".barCol").css("width",98-t+"%");for(var n in data_001){var i=a("#bw_001_"+n).width();i>50?a("#bv_001_"+n).css("right",5):a("#bv_001_"+n).css("right",-5-a("#bv_001_"+n).width())}}for(var n in data_001[0])nameNodes_001.push(n);for(var n in data_001)allValues_001.push(data_001[n][nameNodes_001[1]]);maxValue_001=Math.max.apply(null,allValues_001);for(var n in data_001)a("#barchart_001").append('<div class="barchart_row" id="bc_001_'+n+'"><div class="nameCol">'+data_001[n][nameNodes_001[0]]+'</div><div class="barCol"><div class="barWidth" id="bw_001_'+n+'" style="width:'+100*data_001[n][nameNodes_001[1]]/maxValue_001+"%; background:"+barColor_001+'"><span class="barValue" id="bv_001_'+n+'">'+e(data_001[n][nameNodes_001[1]])+"</span></div></div></div>");a("#bv_001_0").empty().append(pref_001+e(data_001[0][nameNodes_001[1]])+suf_001);for(var n in data_001)allWidths_001.push(a("#bc_001_"+n+" .nameCol").width());maxWidth_001=Math.max.apply(null,allWidths_001),t(),a(window).resize(function(){t()}),a("#bc_001_"+(highlighted-1)).addClass("selectedBar_001"),a("#bw_001_"+(highlighted-1)).css("background",barColor_Highlight_001)})}(jQInteractives);
</script>