.stretch:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.stretch {
  display: inline-block; }

.stretch {
  display: block; }

* html .stretch {
  height: 1px; }

#gf_001 {
  float: left;
  width: 100%;
  margin: 1em auto;
  position: relative;
  font-size: 13px;
  font-family: "Pragmatica-web", Helvetica, Arial, sans-serif; }
  #gf_001 img {
    width: 100%; }
  #gf_001 .grfxhead {
    width: 100%;
    margin-bottom: .3em;
    font-size: 24px;
    float: left;
    font-family: "Chronicle Deck 6r", Georgia, serif;
    font-weight: bold; }
  #gf_001 .grfxintro {
    width: 100%;
    margin-bottom: .7em;
    font-size: 15px;
    letter-spacing: 0.003em;
    line-height: 1.428;
    float: left;
    max-width: 650px; }
  #gf_001 .grfxcontainer {
    width: 100%;
    float: left;
    position: relative;
    margin: 0.5em 0; }
  #gf_001 .source {
    color: #999;
    text-transform: uppercase;
    font-size: 11px;
    width: 100%;
    float: left;
    margin-top: 0.75em;
    margin-bottom: 2.5em; }

#gf_001 {
  /*@media only screen and (min-width: 600px) and (max-width: 900px) {}*/ }
  #gf_001 .barchart_row {
    width: 100%;
    float: left;
    margin-bottom: 1em;
    padding-bottom: .6em;
    border-bottom: 1px dotted #CCC;
    color: #666; }
  #gf_001 .nameCol, #gf_001 .barCol {
    display: inline;
    float: left; }
  #gf_001 .barWidth {
    height: 24px;
    position: relative;
    margin-top: -0.4em;
    border-radius: 1px; }
  #gf_001 .barValue {
    position: absolute;
    top: 3px;
    text-shadow: 0 0 2px #CCC, 0 0 1px #FFF;
    color: #000; }
  #gf_001 .selectedBar_001 .nameCol {
    font-weight: bold; }
  #gf_001 .selectedBar_001 .barValue {
    color: #FFF;
    text-shadow: none; }
  @media only screen and (max-width: 590px) {
    #gf_001 .barchart_row {
      border-bottom: none; }
    #gf_001 .nameCol {
      width: 100% !important;
      margin-bottom: .5em; }
    #gf_001 .barCol {
      width: 100% !important; } }
